<!doctype html>
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 text-black">
                    Explore our wide range of teas
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}

{% block subscription %}
    <div class= "opaque-overlay w-100 text-white  bg-black subscription">
        <div class="row">
            <div class="col-12">
                <h2 class="bold-title">
                    Our Subscription Service
                </h2>
                <hr class="block-divider">
                <h5 class="subscription-text">Subscribe to our subscription service to recieve a complimentary call with the top herbalist in UK! and three unique loose tea blends four times a year! 
                </h5>
                <h3 class="bold-title">
                    About our Subscription Service
                </h3>
                <hr class="block-divider">
                <p class="subscription-text">
                    By subscribing you get four calls a year with our Dr Suya Yuan. She is a qualified acupuncturist and herbalist in the UK, who has been in the field for over 35 years. After your call she will create a blend of loose teas completely unique to you. Our subscription boxes contain eco-freindly hand made cards explaining the origin of the tea, the benefits and how its made. 
                </p>
                <div class="my-5">
                    <h4>
                        <a href="" class="subscribe-button btn btn-lg rounded-0 text-uppercase py-3">Subscribe Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}