<!doctype html>
<html lang="en">
    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav w-auto mx-auto">
            <li class="nav-item d-block d-md-none">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                    Home
                </a>
            </li>
            <!--The products menu-->
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Products
                </a>
                <!--The menu will allow the user to either see all products at once or sort them by price rating or category-->
                <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                    <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                    <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                    <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                    <a href="{% url 'products' %}" class="dropdown-item">All Products</a>                </div>
            </li>

            <!--The Tea menu-->
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tea-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tea
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="tea-link">
                    <a href="{% url 'products' %}?category=immune_boosting" class="dropdown-item">Immune Boosting</a>
                    <a href="{% url 'products' %}?category=sleep_enhancing" class="dropdown-item">Sleep Enhancing </a>
                    <a href="{% url 'products' %}?category=energy_enhancing" class="dropdown-item">Energy Enhancing</a>
                    <a href="{% url 'products' %}?category=immune_boosting,sleep_enhancing,energy_enhancing,dessert" class="dropdown-item">All Teas</a>
                </div>
            </li>

            <!--The teaware menu-->
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="teaware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Teaware
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="teaware-link">
                    <a href="{% url 'products' %}?category=teapots" class="dropdown-item">Teapots</a>
                    <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                    <a href="{% url 'products' %}?category=teapots,accessories" class="dropdown-item">All Teaware</a>
                </div>
            </li>
        </ul>
    </div>
</html>